# GIGA_AGENT SETTINGS
GIGA_AGENT_LLM=gigachat:GigaChat-2-Max
GIGA_AGENT_LLM_FAST=gigachat:GigaChat-2-Pro
GIGA_AGENT_EMBEDDINGS=gigachat:EmbeddingsGigaR
GIGA_AGENT_SENTIMENT_MODEL=models/sentiment_gigachat.joblib
GIGA_AGENT_LANG=ru-RU
GIGA_AGENT_MCP_CONFIG='{}'
GIGA_AGENT_USER_NOTES=""
GIGA_AGENT_MEMORY_ENABLED=1

# REQUIRED GIGACHAT SETTINGS
GIGACHAT_CREDENTIALS=
GIGACHAT_SCOPE=
GIGACHAT_VERIFY_SSL_CERTS=0
GIGACHAT_TIMEOUT=60
MAIN_GIGACHAT_CREDENTIALS=
MAIN_GIGACHAT_SCOPE=
MAIN_GIGACHAT_TIMEOUT=15
MAIN_GIGACHAT_TOP_P=0.5

# GIGACHAT API (IMAGE GENERATION)
IMAGE_GEN_NAME=gigachat:kandinsky-4.1
IMAGE_GEN_PARALLEL=5

# FOR ENABLING RAG
# LANGCONNECT_API_URL=
# LANGCONNECT_API_SECRET_TOKEN=

# FUSION BRAIN (IMAGE GENERATION)
# IMAGE_GEN_NAME=fusion_brain:123
# KANDINSKY_API_KEY=
# KANDINSKY_SECRET_KEY=

## SERVICES
TAVILY_API_KEY=
VK_TOKEN=
GITHUB_PERSONAL_ACCESS_TOKEN=
OWM_API_KEY=

TWOGIS_TOKEN=

SALUTE_SPEECH=
SBER_TTS_TIMEOUT=30

## INTERNAL STUFF
PLOTLY_RENDERER=plotly_mimetype
MAX_KERNEL_LIVE=300
FILES_DIR=/files
RUNS_DIR=/runs
LANGGRAPH_API_URL="http://langgraph-api:8000/"
JINA_READER_URL=https://r.jina.ai/

# After that limit tool response is trimming and saves to REPL var
CHARACTER_LIMIT=100000
# Tries to get code for code_interpreter from message NOT from tool_call arguments
REPL_FROM_MESSAGE=0
